*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#111827;
color:#fff;
}

header{
background:#ff6a00;
padding:20px;
text-align:center;
}

header h2{
font-size:32px;
}

header p{
font-size:15px;
margin-top:5px;
}

.banner{
background:#1f2937;
text-align:center;
padding:12px;
font-size:22px;
font-weight:bold;
color:#ffd700;
}

.container{
width:95%;
max-width:1200px;
margin:30px auto;
display:flex;
gap:20px;
flex-wrap:wrap;
justify-content:center;
}

.card{
background:#1f2937;
padding:25px;
border-radius:12px;
width:650px;
}

.card h2{
margin-bottom:20px;
}

input,
select{
width:100%;
padding:14px;
margin-bottom:15px;
border:none;
border-radius:8px;
font-size:16px;
}

button{
width:100%;
padding:15px;
background:#ff6a00;
color:#fff;
border:none;
border-radius:8px;
font-size:18px;
cursor:pointer;
font-weight:bold;
transition:.3s;
}

button:hover{
background:#ff8800;
}

.payment{
background:#1f2937;
padding:20px;
border-radius:12px;
width:300px;
height:fit-content;
}

.payment h3{
margin-bottom:15px;
}

.payment p{
margin:10px 0;
font-size:17px;
}

.payment a{
color:#00ff88;
text-decoration:none;
}

footer{
text-align:center;
padding:25px;
margin-top:30px;
background:#1f2937;
}

@media(max-width:768px){

.card,
.payment{
width:100%;
}

header h2{
font-size:24px;
}

.banner{
font-size:18px;
}

}
.packages{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(140px,1fr));
gap:15px;
margin:20px 0;
}

.package{
background:#0f172a;
border:2px solid #ff6a00;
border-radius:12px;
padding:15px;
text-align:center;
transition:.3s;
cursor:pointer;
}

.package:hover{
background:#ff6a00;
transform:translateY(-5px);
}

.package h3{
font-size:16px;
margin-bottom:8px;
color:#fff;
}

.package p{
font-size:22px;
font-weight:bold;
color:#ffd700;
}
